{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}



{% block content %}

{% if user_role == "INACTIVE" %}
  <div class="alert alert-inactive mb-3">
    Cuenta INACTIVE: solo puedes ver tickets RESOLVED asignados a ti.
  </div>
{% endif %}

<div class="row g-3">
  <div class="col-md-3">
    <div class="card shadow-sm dashboard-card">
      <div class="card-body text-center">
        <h6>Total</h6>
        <h2>{{ stats.total }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm dashboard-card">
      <div class="card-body text-center">
        <h6>OPEN</h6>
        <h2>{{ stats.OPEN }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm dashboard-card">
      <div class="card-body text-center">
        <h6>IN PROGRESS</h6>
        <h2>{{ stats.IN_PROGRESS }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm dashboard-card">
      <div class="card-body text-center">
        <h6>RESOLVED</h6>
        <h2>{{ stats.RESOLVED }}</h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}